{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{post.title}}</title>

    {% include 'components/head-libs.html' %}
</head>

<body>

    <div class="container">
        {% include 'components/navigation.html' %}

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark post-poster" style="
            background-image: url(/media/{{post.image}});
        ">
        </div>

    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{post.title}}</h2>
                    <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
                    <p>{{post.description}}</p>
                </div>
            </div>
        </div>
    </main>

    {% include "components/footer.html" %}

</body>

</html>